<div class="container">
	<h2>{{title}}</h2>
	<div class="message success" *ngIf="status=='success'">
		<p>El proyecto se a creado con exito, puedes verlo <a href="#">aqui</a></p>
	</div>
	<div class="message fail" *ngIf="status == 'failed'">
		<p>El proyecto no se pudo crear</p>
	</div>
	<!--ref: https://angular.io/api/forms/NgForm#template-variable-references-->
	<!--You optionally export the directive into a local template variable using "ngForm" as the key-->
	<form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
		<p>
			<!--To register child controls with the form, use "NgModel" with a name attribute.-->
			<label for="name">Nombre</label>
			<input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required>
			<span *ngIf="name.invalid && name.touched">
				El nombre es obligatorio
			</span>
		</p>
		<p>
			<label for="desc">Descripcion</label>
			<textarea name="desc" #desc="ngModel" [(ngModel)]="project.description" required></textarea>
			<span *ngIf="desc.invalid && desc.touched">
				La descripcion es obligatorio
			</span>
		</p>
		<p>
			<label for="category">Categoria</label>
			<input type="text" name="category" #category="ngModel" [(ngModel)]="project.category" required>
			<span *ngIf="category.invalid && category.touched">
				La descripcion es obligatorio
			</span>
		</p>
		<p>
			<label for="year">Año</label>
			<input type="number" name="year" #year="ngModel" [(ngModel)]="project.year" required>
			<span *ngIf="year.invalid && year.touched">
				El año es obligatorio
			</span>
		</p>
		<p>
			<label for="lang">Lenguaje</label>
			<input type="text" name="lang" #lang="ngModel" [(ngModel)]="project.langs" required="">
			<span *ngIf="lang.invalid && lang.touched">
				El lenguaje es obligatorio
			</span>
		</p>
		<p>
			<label for="image">Imagen</label>
			<input type="file" name="image" placeholder="subir imagen" (change)="fildChangeEvent($event)">
			<!--(change) is executed later the ngModel, and detect any change, while $event have all date that have this "input"-->
		</p>

		<input type="submit" value="Enviar" [disabled]="!projectForm.form.valid">
	</form>
</div>
